/* You can add global styles to this file, and also import other style files */
body {
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
    background-color: beige;
    font-family: sans-serif;

    a {
        text-decoration: none;
    }
}